.game-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-duration: 500ms;
}

.planet-perks-box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 20vh;
}

.game-on {
  transition-duration: 0.5s;
  opacity: 1;
  z-index: 2;
}

.game-off {
  transition-duration: 0.5s;
  opacity: 0;
  z-index: -1;
}

.planet-perks {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.play-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vw;
  height: 7vw;
  top: 48.5vh;
  left: 46.5vw;
  cursor: pointer;
  border-radius: 30%;
  box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.404);
}

.play-button:hover {
  transition-duration: 100ms;
  box-shadow: 0.3vh 0.3vh 0.3vh 0.3vh rgba(0, 0, 0, 0.486);
}

.play-button:active {
  transition-duration: 100ms;
  transform: scale(0.98);
  box-shadow: 0.15vh 0.15vh 0.15vh 0.15vh rgba(0, 0, 0, 0.486);
}

.launch-guide-box {
  position: absolute;
  width: 55vh;
  height: 110vh;
  top: 1.5vh;
  left: 49.5vw;
  z-index: 0;
}

.launch-guide-img {
  width: 100%;
  height: 100%;
}

.angle-feedback-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 48.5vh;
  left: 78vw;
  z-index: 2;
}

.angle-feedback {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.stats-container {
  position: absolute;
  height: 30vh;
  width: 15vw;
  background-color: #000518;
  border: 5px solid #cdebfc;
  border-radius: 5px;
  left: 84.5%;
}

.stats-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cdebfc;
}

.stats {
  color: #cdebfc;
  font-size: 20px;
  font-weight: bold;
}

@keyframes move-in {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(400%);
  }
}
