.game-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition-duration: 500ms;
}

.planet-perks-box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 20vh;
}

.game-on {
  opacity: 1;
}

.game-off {
  opacity: 0;
}

.planet-perks {
  color: white;
  font-size: 20px;
}