.start-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.planets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  z-index: 1;
}

.star-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

.star {
  position: absolute;
  background-color: white;
  overflow: hidden;
  z-index: 0;
}

.right-img-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 218, 218);
  border-radius: 22px;
  width: 40px;
  height: 40px;
  top: 6vh;
  left: 4vw;
  padding: 4px;
  transition-duration: 500ms;
  opacity: .2;
}

.right-img {
  width: 100%;
  height: 100%;
}

.right-img-box:hover {
  opacity: 0.7;
  cursor: pointer;
}

.sun-container {
  position: absolute;
  width: 250vh;
  height: 250vh;
  transition-duration: 1s;
}


