@keyframes show-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  transition-duration: 500ms;
  opacity: 0;
}

.show {
  animation: show-animation 1s linear 750ms forwards;
}

.upgrade-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition-duration: 500ms;
  color: #cdebfc;
  z-index: 1;
}

.upgrade-panel {
  position: absolute;
  height: 30vh;
  width: 30vh;
  background-color: #000518;
  border: 5px solid #cdebfc;
  border-radius: 5px;
}

.fuel-upgrade-box {
  top: 15%;
  left: 70%;
}

.hull-upgrade-box {
  top: 20%;
  left: 14.6%;
}

.thrusters-upgrade-box {
  top: 60%;
  left: 70%;
}

.perk-panel-box {
  position: absolute;
  height: 30vh;
  width: 40vh;
  background-color: #000518;
  border: 5px solid #cdebfc;
  border-radius: 5px;
  top: 62%;
  left: 15%;
}
.perk-panel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perk-panel-header {
  margin: 5% auto 4% auto;
}

.perk-panel-text {
  margin: 3% 5% 3% 5%;
}

.perks-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5vh;
}

.perk-grid-element {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  padding: 5%;
  background-color: #cdebfc15;
}

.perk-grid-element:hover {
  cursor: pointer;
  background-color: #cdebfc35;
}

.perk-grid-element:active {
  background-color: #cdebfc20;
  box-shadow: 1px 1px 1px black;
}
