.planet-img-box {
  position: relative;
  transition-duration: 0.5s;
  width: auto;
  height: auto;
}

.inactive:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.inactive {
  transition-duration: 2s;
  justify-content: center;
  align-items: center;
}
.active {
  transition-duration: 2s;
  width: 30vw;
  height: 30vw;
  top: 25vh;
  left: 35vw;
  justify-content: center;
  align-items: center;
}

.single-planet {
  position: absolute;
  display: flex;
  flex-direction: column;
}
