body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: show;
  font-family: "pixelSans";
  user-select: none;
}

@font-face {
  font-family: "pixelSans";
  src: local("pixelSans"),
    url("./fonts/PixelifySans-Regular.ttf") format("truetype");
}

.in-game {
  transition-duration: 1s !important;
  transform: translateY(100vh);
}
